{% load staticfiles %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}" type="application/javascript" charset="UTF-8"></script>
    <script src="{% static 'js/bootstrap_3.3.7.js' %}" type="application/javascript" charset="UTF-8"></script>
    <meta charset="UTF-8">
    <title>гравийпесок.рф</title>
</head>
<body class="body">

<div class="col-sm-4">
    {% if for_thanks %}
        {% include "thanks_form.html" %}
    {% else %}
        {% include "contact_form.html" %}
    {% endif %}
</div>
<div class="col-sm-4">
    <h1 class="text-center"></h1>
</div>
<div class="col-sm-4 text-center">
    <h4>Наши номера телефонов</h4>
    <div class="form-horizontal">
        <div class="form-group-lg">
            <div class="col-md-12 inputGroupContainer">
                <div class="input-group" style="margin-bottom: 10px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <span class="form-control">8 (8332) 46-76-86</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <span class="form-control">8 (8332) 423-324</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 text-center">
    <ul class="plans">
        <li class="plan highlight">
            <span class="price price-green">700₽</span>
            <div class="details">
                <h1 class="plan-title">Гравий</h1>
                {#                    <p class="plan-description">Not even a cookie</p>#}
            </div>
        </li>

        <li class="plan highlight">
            <span class="price price-green">400₽</span>
            <div class="details">
                <h1 class="plan-title">ПГС</h1>
                {#                    <p class="plan-description">Not even a cookie</p>#}
            </div>
        </li>
        <li class="plan highlight">
            <span class="price price-green">150₽</span>
            <div class="details">
                <h1 class="plan-title">Песок</h1>
                <p class="plan-description">Речной</p>
            </div>
        </li>

        <li class="plan highlight">
            <span class="price price-green">130₽</span>
            <div class="details">
                <h1 class="plan-title">Песок</h1>
                <p class="plan-description">Боровой</p>
            </div>
        </li>
        <li class="plan highlight text-center" style="width: 360px">
            <div class="details">
                <h1 class="plan-title">Доставка </h1>
                <p class="plan-description">по Кирову и Области самосвалами 10 до 40т</p>
            </div>
        </li>

        <li class="plan highlight text-center" style="width: 360px">
            <div class="details">
                <h1 class="plan-title">Оплата</h1>
                <p class="plan-description">расчет наличный, безналичный, карта</p>
            </div>
        </li>
    </ul>
</div>

<div class="col-sm-12">
    <ul class="nav nav-tabs tab-header">
        <li class="active"><a data-toggle="tab" href="#home">Речной песок</a></li>
        <li><a data-toggle="tab" href="#menu1">Боровой песок</a></li>
        <li><a data-toggle="tab" href="#menu2">Гравий</a></li>
        <li><a data-toggle="tab" href="#menu3">ПГС</a></li>
    </ul>

    <div class="tab-content" style="height: 200px; overflow-y: auto">
        <div id="home" class="tab-pane fade in active">
            <p> Речной намывной песок имеет высокую степень очистки, в нем практически нет посторонних включений в
                виде глинистых примесей и органики, что значительно повышает его функциональные свойства. Такой
                песок широко применяется в бетонном производстве, а так же в дорожном и жилищном строительстве.
                <br>
                Добыча песка методом гидронамыва на сегодняшний день является самым распространенным способом добычи
                качественного песка. Осуществляется гидронамыв с помощью специальной техники – земснарядов
                землесосного типа. С помощью земснаряда песок из забоя (территории разработки) по пульпопроводу
                подается на карту намыва песка где складируется и разрабатывается для дальнейшей
                транспортировки.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <p>Боровой песок применяется при приготовлении раствора для штукатурки, боровой песок делает раствор
                более пластичным за счет большого содержания илистых частиц.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <p>Гравий необходим для различных нужд. Наиболее популярной сферой его применения являются различные
                строительные и ремонтные работы.
                Гравий в качестве наполнителей для бетонов лёгкой группы позволяет добиться хорошей звуко- и
                теплоизоляции. В основном он используется как заполнитель для тяжёлых бетонов во время проведения
                дорожных или строительных работ. Материал также очень популярен при укладке фундамента здания.
                Часто всевозможные фракции гравия применяются в ландшафтном дизайне и декорировании. Материал
                отличается своей естественностью и не потребует слишком больших затрат вашего времени и денег на
                уход.<br>Использование фракций разных размеров<br>
                Гравий состоит из фракций, стандартные размеры которых, как правило, составляют 10-20 мм, 20-40 мм,
                40-50 мм.<br>
                Наиболее востребованной является фракция с размерами 10-20 и 20-40. Она в основном используется в
                фундаментных работах, а также при производстве асфальта и бетона. Крупный гравий необходим для
                различных видов строительных работ, а также для ремонта автомобильных и железнодорожных путей. Из
                мелкозернистого материала обычно насыпают декоративные дорожки, тропинки или площадки.
            </p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <p>ПГС – это песчано-гравийная смесь. Она используется для изготовления строительных растворов. Следует
                сказать, что растворы, в которых присутствует ПГС, – это прекрасный материал для обустройства дорог.
                <br>ПГС – это материал, обладающий хорошими химико-физическими характеристиками. По сравнению с другими
                смесями, он стоит недорого. Именно поэтому среди строительных материалов он пользуется большой
                популярностью.</p>
        </div>
    </div>
</div>
</body>
</html>